<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xero Callback</title>
</head>
<body>

    <h1>Xero Callback</h1>

    <div>
        <p>{{ message }}</p>
    </div>

    {% if access %}
        <div>
            <a href="{% url 'fetch_xero_accounts' %}" >Fetch Account Chart</a><br>
            <a href="{% url 'display_xero_accounts' %}" >View Account Chart</a>

        </div>
    {% endif %}

</body>
</html>
